page-modal-create-building {

    ion-content.content-md{
        @include background-color();
    }

    .list-header-md{
        background:transparent !important;
        border:none !important;
        color:$white-1;
        padding-left:0;
    }
    .list-md{
        margin:16px 0;
    }
    ion-item.item-md{
        background-color:rgba(255, 255, 255, 0.1);
        margin-bottom:16px;
    }
    .item-md h2,
    .item-md p{
        color:$white-1;
    }
    .item-md h2{
        font-size:1.4em;
    }
    .list-md .item-block .item-inner{
        border-bottom:0;
    }

}
