page-my-tickets {

    ion-content.content-md{
        @include background-color();
    }

    .list-md{
        margin:16px 0;
    }
    ion-item.item-md{
        background-color:rgba(255, 255, 255, 0.1);
        margin-bottom:16px;
    }
    .list-md .item-block .item-inner{
        border:none;
    }

    .item-md{
        background-color:rgba(255, 255, 255, 0.1);
        font-size:1.8rem;
        color:$white-1;
    }
    .item-md h2{
        font-size:1.8rem;
    }
    .item-md h3{
        font-size: 1.6rem;
    }
    .item-md p{
        color:$white-1;
        font-size:1.8rem;
    }
    // Arrow
    .item-inner > ion-icon{
        font-size:3.8rem;
    }

}
